* {
    padding-top:10px;
    padding-bottom:10px;
}
body{
    background-color:lightgrey;
    font-size:25px;
    font-weight:bold;
}

.container{
    width:960px;
    margin-left:auto;
    margin-right:auto;
;
}
.songBox, .tourInfo{
    text-align:center;
}

.albumImg{
    width:200px;
    height:auto;
}